.nav-bar li{
	list-style-type: none;
	font-family: "Arial";
	padding: 0 9px;
    cursor: pointer;
    float: left;
}

.nav-bar li+li { 
	border-left: 2px solid
}

.octoink {
	margin-left: 250px;
	margin-right: auto;
	width: 350px;
	height: 350px;
}

body {

}
