/*.nav-bar li{
	list-style-type: none;
	font-family: "Arial";
	padding: 0 9px;
    cursor: pointer;
    float: left;
}

.nav-bar li+li { 
	border-left: 2px solid
}
*/
ul.topnav {    
	background-color: #46616c;     
	list-style-type: none;     
	margin: 0;     
	padding: 0;     
	overflow: hidden; 
}  

.topnav li {      
	float: left;     
}   

ul.topnav li a{     
	font-family: "Marker Felt";
	display: inline-block;     
	color: white;     
	text-align: center;     
	padding: 14px 16px;     
	text-decoration: none;     
	font-size: 19px;
}

.octoink {
	/*float:left;*/
	width: 350px;
	height: 350px;

}

.navstyle {
	padding: -10px;
	margin: -10px;
}



body {
	font-family: "Arial";
	background-color: lightgrey;
	padding: 10;
	margin: 0 0 20px;
}

.footdiv {
	font-family: "Marker Felt";
	color: white;         
	padding: 14px 16px;        
	font-size: 15px;
	background-color: #46616c;
	position: absolute;
	bottom: 0;
	height: 20px;
}

/*.footr {
	font-family: "Marker Felt";
	display: inline-block;     
	color: white;         
	padding: 14px 16px;     
	text-decoration: none;     
	font-size: 15px;
	background-color: #46616c;
	position: absolute;
	bottom: 0;
	height: 20px;
	text-align: center;

}
*/