.nav-bar li{
	background-image: navimg.jpg;
	list-style-type: none;
	font-family: "Arial";
	padding: 0 9px;
    float: left;
    cursor: pointer;
}

.nav-bar li+li { 
	border-left: 2px solid
}

.nav-img {
	height: 250px;
	float:left;
}